@import "tailwindcss";

/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Lato:wght@300;400;700&display=swap');

/* --- PALETA GLICOGOTAS --- */
:root {
  /* Cores Principais */
  --verde-principal: #00D287;
  --rosa-principal: #F4719C;
  --amarelo-principal: #FEDE74;
  --azul-principal: #4BB0D0;
  --branco: #FFFFFF;

  /* Cores Figurantes (Destaques) */
  --verde-destaque: #80BA0D;
  --rosa-destaque: #F58F95;
  --vinho-destaque: #A81A1A;

  /* Cores para Fundos */
  --bg-verde: #88DBBD;
  --bg-folha: #C7E490;
  --bg-rosa-claro: #FFAFB3;
  --bg-laranja: #FFB450;
  --bg-azul-claro: #ADDFEF;

/* Tons pastéis extras para os círculos */
  --azul-extra-claro: #b2e3ed;
  --rosa-extra-claro: #fde2ed;
}

html {
  scroll-behavior: smooth;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base */
body {
  padding-top: 110px; 
  font-family: 'Lato', sans-serif;
  color: #333; /* Uma cor padrão para textos */
}

h1, h2, .logo {
  font-family: 'Chewy', cursive;
}

#root {
  width: 100%;
  min-height: 100vh;
}